<% provide(:title, "Home") %>
  
<h1>Air StoreNB</h1>
<p>This is the landing page for Air StoreNB, a marketplace to connect those with free space, with those that require short term staorge</p>
<p>We are creating this page using the <a href="http://www.railstutorial.org/">Rails Tutorial by Michael Hartl</a> as a guide</p>


